/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Using percent over vh to avoice white space across different browsers and operating systems*/
}

main {
    padding: 20px;
    min-height: 100%;
    background:radial-gradient(circle, rgb(201 123 217 / 30%) 13%, rgb(0 0 0 / 0%) 0%), 
               linear-gradient(to bottom, #2190da, #dd83d6);
    background-size: 1px 20px, cover;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}

/* Font ID */
#game-font {
    font-family: "Honk", system-ui, sans-serif;
}

.info {
    font-size: 26px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 3rem 0;
    max-width: 598px; 
    align-self: center;
}